# Sistema operativo
.DS_Store
Thumbs.db

# IDEs / editores
.idea/
.vscode/
*.iml

# Logs
*.log

# --- Backend (Java / Maven / Gradle) ---
Backend/NC49_SmartCRM/target/
Backend/NC49_SmartCRM/.gradle/
Backend/NC49_SmartCRM/build/
Backend/NC49_SmartCRM/out/
**/target/
# --- Frontend (Node / React / Angular) ---
/frontend/node_modules/
/frontend/build/
/frontend/dist/
/frontend/.next/
/frontend/.nuxt/
/frontend/.angular/

# --- General ---
*.class
*.jar
*.war
*.ear

# Entornos virtuales o temporales
tmp/
.env