#Local database connection
POSTGRES_LOCAL_URL=
POSTGRES_LOCAL_USER=
POSTGRES_LOCAL_PASSWORD=
POSTGRES_LOCAL_DB=

#Staging Database connection
POSTGRES_PROD_URL=
POSTGRES_PROD_USER=
POSTGRES_PROD_PASSWORD=

PORT:
SPRING_PROFILE=dev